<!DOCTYPE html>
<head>
    <title>
        SSWD Group Project - Demo
    </title>
    <link rel="stylesheet" href="/static/stylesheets/styles.css" type="text/css" />
    <script></script>
</head>
<body>
    Hello World!
</body>