*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Source Sans Pro';
}

body{
    background-color: #000000;
}

.container{
    color:rgb(255, 255, 255);
    position: absolute;
    top: 75%;
    left: 50%;
    padding: 20px;
    width: 600px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.container h2{
    color: #a70a0a;
}
.container b{
    color: #a70a0a;
}

.container-1{
    color:yellow;
    position: fixed;
    top: 10%;
    left: 50%;
    padding: 20px;
    width: 600px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    display: block;
    margin: auto;
    width: 60%;
    height: 60%;
  }
p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    color: #ffffff;
  }

  .responsive {
    width: 80%;
    height: auto;
  }

.button {
    background-color: firebrick;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }